<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Unión de Ornitólogos de Chile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/registro">Registro de Voluntarios</a></li>
                <li><a href="/avistamiento">Informar Avistamiento</a></li>
                <li><a href="/listado">Listado de Avistamientos</a></li>
                <li><a href="/metricas">Indicadores y Métricas</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="title">
            <h1>Unión de Ornitólogos de Chile</h1>
            <p>Sistema de Gestión de Avistamientos de Aves</p>
        </section>
        <section class="welcome">
            <!-- div para poder colocar la imagen a la derecha del texto en el css-->
            <div class="welcome-text">
                <h2>¡Bienvenido al sistema de registro!</h2>
                <p>Debido a la creciente preocupación por los cambios bruscos en la población de aves causados por fenómenos climáticos, hemos desarrollado esta plataforma para mantener actualizado nuestro registro a nivel nacional.</p>
                <h2>¿Cómo puedes ayudar?</h2>
                <ul>
                    <li>Si eres nuevo, regístrate como voluntario en nuestro sistema.</li>
                    <li>Si ya eres voluntario, informa tus nuevos avistamientos con fotos o videos.</li>
                    <li>Explora los avistamientos de otros usuarios y revisa nuestras métricas.</li>
                </ul>
            </div>
            <img src="{{ url_for('static', filename='img/pexels-magda-ehlers-pexels-6819006.jpg') }}" alt="pajaroHome">     
        </section>
        <section class="recientes-avistamientos">
            <h2>Últimos Avistamientos</h2>
            {% if avistamientos %}
                <ul>
                    {% for avistamiento in avistamientos %}
                        <li>
                            <strong>{{ avistamiento.fecha_hora.strftime('%d-%m-%Y %H:%M') }}</strong>: 
                            Se observó un(a) <strong>{{ avistamiento.ave.nombre }}</strong> 
                            en {{ avistamiento.lugar }} ({{ avistamiento.voluntario.comuna.nombre }}).
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aún no hay avistamientos registrados en el sistema.</p>
            {% endif %}
        </section>
    </main>
    <footer>
        <p>&copy; 2026 Unión de Ornitólogos de Chile. Todos los derechos reservados.</p>
    </footer>
</body>
</html>